$color: #3ca97a;
$color-hover: #63FFBB;
$color-red: red;
$color-white: #fff;
$border-radius: 5px;

.cont-form{
    padding: 10px 0;
    margin: 1px;
}
.registro-form{
    border: solid 1px $color;
    border-radius: $border-radius;    
    padding: 15px;   
    margin-top: 3px; 
}

.buttonReg{         
    padding: 0 15px;
    .enviar{
        border: solid 1px $color;
        background: none;
        border-radius: 5px;
        color: $color;
        outline: none;
        transition:all 0.5s;                    
    }
    .enviar:hover{
        border: solid 1px $color-hover;
        color: $color-white;
        background: $color-hover;
        transition:all 0.5s;
    }

}
input{                         
    outline: none;
    margin-bottom: 15px;
    border-radius: $border-radius;  
    border: solid 1px $color;
    padding: 5px;
    
} 

input[type="file"] {
    display: none;

}
 .buttonImg {
    border: solid 1px $color;
    background: none;
    border-radius: 5px;
    color: $color;
    outline: none;
    transition:all 0.5s;
    text-align: center;
    margin-bottom: 15px;

}
.imgPerfil{
    text-align: center;
}


