.logs{
    padding-top:  5%;
    text-align: center;
}
.logs img{
    border: solid 1px #2fbe34;
    border-radius: 100%;
    width: 200px;
}
.logs h4{
    padding-top: 5%;
}

.form-group{
    margin-top: 2%;
    text-align: center;
    
}

.form-control{
    width: 35%;
    text-align: center;
    margin: auto;
}
.btn.btn-primary{
    margin: auto 2%;
}

.botoncito{
    text-align: center;
}

