<div class="cnt-conversacion-prin row">
  <div class="cnt-display-conver col-12">
    <div class="cnt-display col-12">
        <div class="bocadillo origen">    
            <span class="cnt-msg-usuario">
                <span class="nombreusuario">Carla:</span>
                <span class="msg">Hola, como estas?</span>              
            </span>
        </div>
        <div class="bocadillo destino">
          <span class="cnt-msg-usuario">
              <span class="nombreusuario">Pedro:</span>
              <span class="msg">Bien y tu?</span>              
          </span>
        </div>
    </div>
    <div class="cnt-input">
      <input type="text" class="col-12 cajatxt">
    </div>
  </div>
</div>