$color-lightblue:lightblue;
figure{
    text-align: center;
    width: 2%;
    img{
        width: 100%;
        border-radius:2 
    }
}
// div:nth-child(odd){
//     background: $color-lightblue ;
// }
// .container{
//     background: coral;
// }