@import '../__variables';
@import url('https://fonts.googleapis.com/css?family=Satisfy');

.cabecera .nav {
	background-color: $main-color;
}

.navbar-brand {
	display: flex;

	img {
		height: 50px;
	}

	.titApp {
		padding-left: 1rem;
		font-family: 'Satisfy', cursive;
	}
}

