<header class="cabecera">
  <nav class="navbar navbar-expand-lg navbar-light nav">
    <div>

      <a class="navbar-brand" href="#">
        <img src="../../assets/img/arbol.png" alt="pandoApp">
        <h1 class="titApp">Pando App</h1>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/contactos']">Contactos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chats']">Chat</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ajustes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Foto de perfil</a>
            <a class="dropdown-item" href="#">Estado</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Ayuda</a>
          </div>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a> -->
          <a class="nav-link" [routerLink]="['/votaciones']">Votaciones</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
