<h3>Crea una votacion</h3>
<form #votacionForm="ngForm" (ngSubmit)="generaVotacion(votacionForm)">
  <div><input type="text" [(ngModel)]="nuevaVotacion.tVotacion" name="tVotacion" placeholder="Nombre de la votación"></div>
  <div><textarea [(ngModel)]="nuevaVotacion.descVot" name="descVot" placeholder="Describe tu proposicion"></textarea></div>
  <div><input type="radio" [(ngModel)]="nuevaVotacion.opcionVot" name="opcionVot">Opcion1</div>
  <div><input type="radio" [(ngModel)]="nuevaVotacion.opcionVot" name="opcionVot">Opcion2</div>
  <div><button [disabled]="!votacionForm.valid">Enviar</button></div>
  <div><button>+</button></div>
</form>
