<div class="container">
<form [formGroup]="votacionForm" (ngSubmit)="generaVotacion()">
  <div>
    <input type="text" name="tVotacion" placeholder="Nombre de la votación" class="form-control" formControlName="titVotacion">
  </div>
  <div><textarea name="descVot" placeholder="Describe tu proposicion" formControlName="descVotacion"></textarea></div>
  <div formArrayName="opciones" *ngFor="let aO of votacionForm.get('opciones').controls; let i = index;">
      <input type="text" [formControlName]="i">
    </div>
  <div><button (click)="addOpcion()">+</button></div>
  <div><button type="submit">Enviar</button></div>
</form>
</div>